.main {
    font-family: sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  }
  
  .profilesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 20px;
  }
  
  .profileCard {
    background: #fff;
    border: 0.3px solid gray;
    border-bottom: 5px solid rgb(28, 227, 227);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 220px;
    height: 350px;
    transition: transform 0.2s;
  }
  
  .profileCard:hover {
    transform: scale(1.04);
  }
  
  .profileID {
    display: flex;
    flex-direction: column;
  }
  
  .profileName {
    font-size: 1.6em;
    color: #333;
  }
  .profilePosition {
    font-size: 1.1em;
    color: #333;
  }
  
  .profileImage {
    border-radius: 50%;
    border: 5px solid rgb(28, 227, 227);
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 0 auto;
    transition: transform 0.2s;
  }
  .profileImage:hover {
    transform: scale(1.05);
  }
  
  .iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 30px;
  }
  
  .icon {
    height: 20px;
    width: 20px;
    background-color: gray;
    color: white;
    padding: 5px;
    border: 0.4px solid gray;
    transition: transform 1s ease-in-out;
    cursor: pointer;
  }
  .icon:hover {
    transform: rotate(360deg);
  }