.timer-container{
    position:absolute;
    background:linear-gradient(to left, rgba(247,0,104) 0%, rgba(68,16,102,1) 100%) ;
    width: 80%;
    height: 150px;
    top:96vh;
    z-index: 100;
    margin-left: 10%;
}
.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Space between the two lines */
  }

.time-value {
    font-size: 60px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    gap: 5px; /* Space between numbers and colons */
  }
  
  .timer-label {
    display: flex;
    justify-content: center;
    gap: 60px; /* Match the spacing of `time-value` */
  }
  
  .timer-label span {
    font-size: 16px;
    font-weight: normal;
    color: white;
  }
 @media (max-width:576px){
  .timer-container{
    width: 100%;
    margin-left: 0;
  }
  .time-value{
    font-size: 40px;
  }
  .timer-label{
    gap:25px;
  }
 }